/* BIGIN :: Header */
.no-items {
	display: none;
}

.no-items.not {
	
	display: flex;
	min-height: 300px;
	align-items: center;
	justify-content: center;
}
/* END :: Header */
/* BIGIN :: main swiper slide */
.swiper-button-next, .swiper-button-prev {
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
	opacity: .3;
	margin-top: -25px;
	transition: all .5s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover {
	opacity: .7;
	transition: all .5s ease;
}
.swiper-button-prev {
	background-image: url('../img/index/slide/btn_prev.png');
}
.swiper-button-next {
	background-image: url('../img/index/slide/btn_next.png');
}
/* END :: main swiper slide */
/* BIGIN :: main product swiper slide */
/* END :: main product swiper slide */
/* END :: Side popup menu */
#sct_sort ul {
	width: 100%;
}
/* BIGIN :: Slide list custom */
div[id^="slide"] {
	margin-top: -91px;
	padding-top: 91px;
}
div[id^="slide"] .swiper-button-next, div[id^="slide"] .swiper-button-prev {
	top: 40px;
}
div[id^="slide"] .swiper-button-prev {
	left: auto;
	right: 65px;
}
/* END :: Slide list custom */
/* BIGIN :: Shop list custom */
.item {
	/**/
}
.item-img {
	position: relative;
}

.item .item-img .item-sns {
	position: absolute;
	bottom: 40px;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 0;
	opacity: 0;
	transition: all .5s ease;
}

.item:hover .item-img .item-sns {
	height: 50px;
	opacity: 1;
	transition: all .5s ease;
}
.item-img .item-sns a {
	display: flex;
	width: 50px;
	height: 50px;
	padding: 10px;
	padding-top: 10px;
	background-color: rgba(23,23,23,.7);
	border-radius: 50%;
	margin-left: 3px;
	margin-right: 3px;
	color: rgb(255,255,255);
	align-items: center;
	justify-content: center;
	text-decoration: none;
}
/* END :: Shop list custom */
/* BIGIN :: Shop wish list custom */
#sod_ws li .wish_info {
	height: auto;
}
/* END :: Shop wish list custom */
/* BIGIN :: Shop product detail page custom */
#sit_btn_wish {
	transition: all .5s ease;
}
#sit_btn_wish.included-in-wishlist, #sit_btn_wish.included-in-wishlist:hover {
	background-color: #d50c0c;
	color: #fff;
	transition: all .5s ease;
}
#sit_btn_wish.included-in-wishlist i {
	/**/
}
/* END :: Shop product detail page custom */
/* BIGIN :: Index custom */
.slide-product-header {
	/*margin: 0;*/
}
.sct_wrap {
	background-color: rgba(255,255,255,1);
}
.sct_wrap .item {
	padding-bottom: 1rem;
}
.sct_wrap .item .item-img {
	padding-bottom: 1rem;
}
.sct_wrap .item .item-txt a {
	font-size: 18px;
	font-weight: bold;
}
/* BIGIN :: Index custom */
/* BIGIN :: Item Order form */
#sod_frm #sod_bsk_tot li {
	height: 110px;
}
/* END :: Item Order form */