/* BIGIN :: Header */
.no-items {
	display: none;
}

.no-items.not {
	
	display: flex;
	min-height: 300px;
	align-items: center;
	justify-content: center;
}
/* END :: Header */
/* BIGIN :: main swiper slide */
.swiper-wrapper .item-wrap {
	margin-top: 47px;
}
.swiper-button-next, .swiper-button-prev {
	width: 19px;
	height: 35px;
	background-size: 19px 35px;
	opacity: .3;
	margin-top: -25px;
	transition: all .5s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover {
	opacity: .7;
	transition: all .5s ease;
}
.swiper-button-prev {
	background-image: url('../img/index/slide/btn_prev.png');
}
.swiper-button-next {
	background-image: url('../img/index/slide/btn_next.png');
}

.relative-list .swiper-button-prev {
	background-image: url('../img/index/slide/btn_prev2.png');
}
.relative-list .swiper-button-next {
	background-image: url('../img/index/slide/btn_next2.png');
}
/* END :: main swiper slide */
/* BIGIN :: main product swiper slide */
/* END :: main product swiper slide */
/* END :: Side popup menu */
#sct_sort ul {
	width: 100%;
}
/* BIGIN :: Slide list custom */
div[id^="slide"] .swiper-button-next, div[id^="slide"] .swiper-button-prev {
	top: 32px;
}
div[id^="slide"].relative-list .swiper-button-next, div[id^="slide"].relative-list .swiper-button-prev {
	top: 50%;
	transform: translateY(-50%);
}

div[id^="slide"].relative-list .swiper-button-prev {
	left: 30px;
	right: auto;
}

div[id^="slide"] .swiper-button-prev {
	left: auto;
	right: 50px;
}
.cust-price {
	text-decoration: line-through;
}
/* END :: Slide list custom */
/* BIGIN :: Shop list custom */
.item {
	/**/
}
.item-img {
	position: relative;
}

.item-img .d-day {
	position: absolute;
	width: 100%;
	bottom: 0;
	font-size: .8rem;
	background-color: rgba(100,100,100,.7);
	color: rgba(255,255,255,1);
	padding: 15px 10px;
}

.item .item-img .item-sns {
	position: absolute;
	bottom: 40px;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 0;
	opacity: 0;
	transition: all .5s ease;
}

.item:hover .item-img .item-sns {
	height: 50px;
	opacity: 1;
	transition: all .5s ease;
}
.item-img .item-sns a {
	display: flex;
	width: 50px;
	height: 50px;
	padding: 10px;
	padding-top: 10px;
	background-color: rgba(23,23,23,.7);
	border-radius: 50%;
	margin-left: 3px;
	margin-right: 3px;
	color: rgb(255,255,255);
	align-items: center;
	justify-content: center;
	text-decoration: none;
}
/* END :: Shop list custom */
/* BIGIN :: Shop wish list custom */
#sod_ws li .wish_info {
	height: auto;
}
/* END :: Shop wish list custom */
/* BIGIN :: Shop product detail page custom */
#sit_btn_wish {
	transition: all .5s ease;
}
#sit_btn_wish.included-in-wishlist, #sit_btn_wish.included-in-wishlist:hover {
	background-color: #d50c0c;
	color: #fff;
	transition: all .5s ease;
}
#sit_btn_wish.included-in-wishlist i {
	/**/
}
#sit_pvi,
#sit_ov {
	float: none;
	width: 100%;
	padding: 15px;
}
#sit_ov_btn button {
    width: auto;
    float: none;
    margin-right: 0;
    height: auto;
    margin-bottom: 0;
    padding: 10px 15px;
    font-weight: bold;
    font-size: 1.25em;
    flex: 0 0 40%;
    max-width: 40%;
}
#sit_btn_wish {
	display: flex;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 0;
	float: none;
	width: auto;
	height: auto;
	align-items: center;
	justify-content: center;
	line-height: 1;
	margin-left: -1px;
	flex: 0 0 20%;
	max-width: 20%;
}
#sit_btn_wish:hover {
	text-decoration: none;
}
.border-box {
	border: 1px solid rgba(100,100,100,1);
	background-color: rgba(100,100,100,.2)
}
/* END :: Shop product detail page custom */
/* BIGIN :: Index custom */
.sct_wrap h2 {
	border: 0;
}
.sct_wrap h2 a {
	border-bottom: 2px solid rgba(255,255,255,1);
}
.sct_wrap .item-wrap {
	padding-top: 47px;
}
header.slide-product-header {
    display: flex;
    justify-content: space-between;
	color: rgba(255,255,255,1);
	background-color: rgba(230,46,4,1);
	position: absolute;
	width: 100%;
	z-index: 3;
}
header.slide-product-header h2.list-type-title {
	color: rgba(255,255,255,1);
	border-color: rgba(255,255,255,1);
}
header.slide-product-header h2.list-type-title a {
	color: rgba(255,255,255,1);
	border-color: rgba(255,255,255,1);
}
header.slide-product-header .more-div {
	display: flex;
	flex: 1;
	justify-content: flex-end;
}
header.slide-product-header .more-div a {
	color: rgb(255,255,255);
	font-weight: bold;
	text-decoration: none;
}
.swiper-container .swiper-button-next, .swiper-container .swiper-button-prev {
	z-index: 5;
}
.sct_wrap {
	background-color: rgba(255,255,255,1);
	position: relative;
}
.sct_wrap .item {
	padding-bottom: 1rem;
}
.sct_wrap .item .item-img {
	padding-bottom: 1rem;
}
.sct_wrap .item .item-txt a {
	font-size: 18px;
	font-weight: bold;
}
.icon-box .icon-wrap {
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-bottom: 1px solid #999;
}
@media(max-width: 991px) {
	.icon-box .icon-wrap {
		border-right: 1px solid #999;
	}
}
@media(min-width: 992px) {
	.icon-box .icon-wrap {
		border-right: 0;
	}
	.icon-box .icon-wrap:last-child {
		border-right: 1px solid #999;
	}
}
.icon-box .icon {
	font-size: 4rem;
}
.icon-box h3 {
	/*font-size: 4rem;*/
}
.icon-box p {
	font-size: .8rem;
}
/* END :: Index custom */
/* BIGIN :: Item Order form */
#sod_frm #sod_bsk_tot li {
	height: 110px;
}
/* END :: Item Order form */
/* BIGIN :: Mobile Item list */
.sct_wrap .m-title-wrap {
	/*
	margin-left: -10px;
	margin-right: -10px;
	*/
}
.sct_wrap .m-title-wrap h2 {
	background-color: rgba(255,255,255,1);
}
.sct_wrap .list-item {
	background-color: #fff;
}
.lt {
	margin-left: 0;
	margin-right: 0;
}
/* END :: Mobile Item list */
