#gnb .gnb_oparea {
    padding: 20px 0;
}
#gnb .gnb_oparea li {
    line-height: 35px;
}
#gnb .gnb_oparea li.active {
	position: relative;
    background-color: rgba(100,100,100,1);
}
#gnb .gnb_oparea li.active a:after {
    content: "";
    position: absolute;
    border-left: 6px solid rgba(255,255,255,1);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}
#gnb .gnb_oparea li a {
    display: block;
    padding: 0 20px;
}
#gnb .gnb_oparea li.active a {
    color: rgba(255,255,255,1);
}
#gnb .gnb_oparea li a:hover {
    text-decoration: none;
}
.btn_fixed_top .btn_submit,
.btn_confirm .btn_submit {
    color: rgba(255,255,255,1);
    background-color: rgba(47,64,159,1);
}
.btn_fixed_top .btn_submit {
    padding: 0 10px;
    line-height: 30px;
}
.btn_fixed_top .btn_submit:hover,
.btn_confirm .btn_submit:hover {
    color: rgba(255,255,255,1);
    background-color: rgba(30,45,129,1);
}